.searchBarComponent form {
    height: 50vh;
    background-image: "../carsimages1.png";
    display: flex;
    align-items: center;
    justify-content: center;
  }


/* .searchBar {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px;
} */

.searchButton {
  background-color: rgb(79, 169, 79);
  cursor: 'pointer';
  transition: 'all 100ms ease-in-out';
  color: white;
  border: 1px solid white;
  margin-left: 20px;
  margin-top: 20px;
  padding: 8px;
}

select{
  width: 150%;
  height: 70px;
  border-radius: 20px;
  background-color: white;
  box-shadow: inset 0px 0px 3px 0px rgb(8, 8, 8);
  outline: none;
  font-size: 25px;
}

.Date {
background-color: rgb(79, 169, 79);
color: white;
border: 1px solid white;
margin-left: 120px;
padding: 8px;
}

.dateInput{
width: 150%;
height: 70px;
border-radius: 20px;
background-color: white;
box-shadow: inset 0px 0px 3px 0px rgb(8, 8, 8);
outline: none;
font-size: 25px;
border-radius: 20px;
border: 1px solid white;
margin-left: 80px;
padding: 8px; 
} 

select.carTypeSelect {
margin-right: 20px;
margin-top: 20px;
}

/* input[type="date"] {
width: 60%;
} */

label[for="endDate"] {

margin-left: 20px;
}

input#endDate {
margin-right: 10px;
margin-left: 0px; /* add margin-right */
width: 90%
}

input#startDate{
margin-left: 100px;
margin-right: 0px;
width: 60%
}

/* input#searchButton { */
/* add margin-right */
/* margin-left: 10px;
width: 60%;
margin-right: 20px;
} */